@model List<WorldAroundUs.ViewModels.SectionViewModel>

<div class="row">
    @foreach (var item in @Model)
    {
        <div class="col-4 mb-4">
            <div class="card">
                <a asp-action="Subsections" asp-controller="Home" asp-route-id="@item.Id">
                <img width="100px" height="100px" class="card-img" src="@item.ImageUrl" alt="@item.Title image">
                </a>
                <div class="card-body">
                    <a asp-action="Subsections" asp-controller="Home" asp-route-id="@item.Id">
                        <h4 class="card-title">@item.Title</h4></a>
                </div>
            </div>
        </div>
    }
</div>