@model List<WorldAroundUs.ViewModels.TestResultViewModel>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.Test.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.Points)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelElem => item.User.UserName)
            </td>
            <td>
                <a asp-area="" asp-controller="Home" asp-action="TestInfoById" asp-route-id="@item.TestId">
                    @Html.DisplayFor(modelElem => item.Test.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelElem => item.Points)
            </td>
        </tr>
    }
    </tbody>
</table>


<div class="container mt-5">
    <div class="row">
        @foreach (var item in @Model)
        {
            <div class="col-lg-4 d-flex justify-content-end align-items-center mt-5 hb" style="font-size: 40px">@Html.DisplayFor(modelElem => item.User.UserName)</div>
            <div class="col-lg-4 d-flex align-items-center mt-5 hm">
                <a asp-area="" asp-controller="Home" asp-action="TestInfoById" asp-route-id="@item.TestId">
                                    @Html.DisplayFor(modelElem => item.Test.Title)</a>
            </div>
            <div class="col-lg-4 d-flex align-items-center mt-5 hm">
                @Html.DisplayFor(modelElem => item.Points) баллов
            </div>
        }
    </div>
</div>