<div class="container mt-5">
    <div id="grid"></div>
</div>
<script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetAllThemes", "Admin")",
                        update: {
                            url: "@Url.Action("UpdateTheme","Admin")",
                            dataType: "json",
                            type: "POST"
                        },
                        create:{
                            url: "@Url.Action("CreateTheme", "Admin")",
                            dataType: "json",
                            type: "POST"
                        },
                        destroy: {
                            url: "@Url.Action("RemoveTheme","Admin")",
                            dataType: "json",
                            type: "DELETE"
                        }
                    },
                    
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, from: "id", type: "number" },
                                Subsection: { from: "subsection",nullable: true, validation: {required: true} }, 
                                SubsectionId: {from: "subsectionId", type: "number",nullable: false, validation: {required: true} },
                                Name: { from: "name", validation: {required: false} },
                                Text: {from: "text", validation: {required: false} }, 
                                ImageUrl: { from: "imageUrl", validation: {required: false} },
                                VideoUrl: {from: "videoUrl", validation: {required: false} }
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                height: 550,
                editable: {
                    mode: "popup",
                    window: {
                        scrollable: false,
                        resizable: false,
                    }
                },
                toolbar: [
                    {
                        name: "create"
                    },
                    {
                        name: "excel"
                    }
               ],
                // filterable: true,
                // sortable: true,
                pageable: true,
                columns: [
                    {
                        field:"Id",
                        filterable: false
                    },
                    {
                        field: "Subsection.title",
                        title: "ПодТема",
                        editor: subSectionEditor,
                        template: function(dataItem) {
                            if (dataItem.Subsection == null)
                                return '';
                            else
                                return dataItem.Subsection.title;
                        }
                    },  
                   {
                       field: "Name",
                       title: "Имя"
                   },
                    {
                        field: "Text",
                        title: "Текст"
                    },
                    {
                        field: "ImageUrl",
                        title: "Ссылка на картинку"
                    },
                    {
                        field: "VideoUrl",
                        title: "Ссылка на видео"  
                    },
                    {
                        command: "edit"
                    },
                    {
                        command: "destroy"
                    }
                ]
            });
        });
        
        function subSectionEditor(container, options) {
            $('<input required name="SubsectionId">')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "title",
                    dataValueField: "id",
                    height: 500,
                    dataSource: {
                        transport: {
                            read: {
                                url: "@Url.Action("GetAllSubsections", "Admin")",
                                dataType: "json",
                                cache: false
                            }
                        }
                    }
                });
        }
    </script>